- first  = meetup.speakers[0]
- second = meetup.speakers[1]
- console.log(meetup.on)
- date   = Date.parse( meetup["on"] )
.row
  .span16.blurb
    .when
      -#= "#{date.strftime("%B")} #{date.strftime("%Y")}"
    %h2<
      = meetup["title"]
    :if meetup["blurb"]
      %p= meetup["blurb"]
.row.meetup
  .span8
    .speaker
      = partial('speaker', { speaker: first, gravaturl: gravaturl })
  .span8
    .speaker
      :if second != undefined
        = partial('speaker', { speaker: second, gravaturl: gravaturl })