- first  = meetup["speakers"].first
- second = meetup["speakers"].last
- date   = Date.parse( meetup["on"] )
.row
  .span16.blurb
    .when
      = "#{date.strftime("%B")} #{date.strftime("%Y")}"
    %h2<
      = meetup["title"]
    - if meetup["blurb"]
      %p= meetup["blurb"]
.row.meetup
  .span8
    .speaker
      = haml :speaker, :locals => { :s => first }, :layout => false
  .span8
    .speaker
      - if first != second
        = haml :speaker, :locals => { :s => second }, :layout => false