```
layout: default-nonav
```
- var meetup = getMeetups().shift()
- first  = meetup.speakers[0]
- second = meetup.speakers[1] || meetup.speakers[0]
- meetupDate = parseDate(meetup['on'])
- var helpers = { partial: partial, gravaturl: gravaturl, parseDate: parseDate, formatDate: formatDate }
.top-unit
  .row-fluid
    .span8
      %h1 JS-MONTREAL
      %p Montreal's JavaScript User Group
    .span4
      = partial('register')
.row-fluid
  .span6
    %p.when
      %strong
        = formatDate(meetupDate, "MMMM Do, YYYY")
      &nbsp;
      %span.label.label-warning
        7pm
    :if meetup["blurb"]
      %p.blurb= meetup["blurb"]
    :if !booked(meetup)
      .alert.alert-info
        %a(href="mailto:contact@js-montreal.org")
          Looks like there's space for one more presentation!
  .span6
    :if specialevent(meetup)
      .row-fluid
        .span12
          .special-event
            = include('data/' + meetup.specialevent)
.row-fluid.meetup.speaker
  = partial('speaker', { speaker: first, helpers: helpers })
:if booked(meetup)
  .row-fluid.meetup.speaker
    = partial('speaker', { speaker: second, helpers: helpers })
.row-fluid
  .span12
    %h2 Location

    = include('data/cakemail-map.html')
