```
layout: default-nonav
```
- var meetup = getMeetups().shift()
- first  = meetup.speakers[0]
- second = meetup.speakers[1] || meetup.speakers[0]
- meetupDate = parseDate(meetup['on'])
- var helpers = { partial: partial, gravaturl: gravaturl, parseDate: parseDate, formatDate: formatDate }
.row
  .col-md-6
    %p.when
      %strong
        = formatDate(meetupDate, "MMMM Do, YYYY")
      &nbsp;
      %span.label.label-warning
        7pm
    :if meetup["blurb"]
      %p.blurb= meetup["blurb"]
    :if !booked(meetup)
      .alert.alert-info
        %a(href="mailto:contact@js-montreal.org")
          Looks like there's space for one more presentation!
  .col-md-5.offset1
    :if specialevent(meetup)
      .row
        .col-md-12
          .special-event
            = include('data/' + meetup.specialevent)
.row.meetup.speaker
  = partial('speaker', { speaker: first, helpers: helpers })
:if booked(meetup)
  .row.meetup.speaker
    = partial('speaker', { speaker: second, helpers: helpers })
.row
  .col-md-12
    %h2 Location

    = include('data/cakemail-map.html')
