```
layout: default-nonav
```
- var meetup = getMeetups().shift()
- first  = meetup.speakers[0]
- second = meetup.speakers[1] || meetup.speakers[0]
- meetupDate = parseDate(meetup['on'])
- var helpers = { partial: partial, gravaturl: gravaturl, parseDate: parseDate, formatDate: formatDate }
.top-unit
  .row
    .col-md-12
      %h1
        %span.important
          IMPORTANT:&nbsp;
        We've moved! new address and updated map are below.
      %h3
        New Address: 2050 Bleury Street, Suite 300
  .row
    .col-md-8
      %h2
        = meetup["title"]
        %br
        %small
          = formatDate(meetupDate, "MMMM Do, YYYY") + " @ 19:00"
      %p.lead= meetup["blurb"]
    .col-md-4.visible-md.visible-lg
      = partial('register')
    .col-md-5
        :if specialevent(meetup)
          .row
            .col-md-12
              .special-event
                = include('data/' + meetup.specialevent)
.row.meetup
  .col-md-5
    .speaker
      = partial('speaker', { speaker: first, helpers: helpers })
  .col-md-5.col-md-offset-1
    .speaker
      - if(booked(meetup)) {
      = partial('speaker', { speaker: second, helpers: helpers })
      - } else {
      - if(meetup.singleSession) {
      - } else {
      %br
      %br
      %a.btn.btn-info{ href: "mailto:contact@js-montreal.org" } Looks like there's space for one more presentation!
      - }
      - }
%h2
  Map
  %br
  %small
    Across the street from Place-des-Arts Metro
  .map
    = partial('map')
.row.visible-xs.visible-sm
  .small-register.col-md-12
    = partial('register')