```
layout: default-nonav
```
- var meetup = getMeetups().shift()
- first  = meetup.speakers[0]
- second = meetup.speakers[1] || meetup.speakers[0]
- meetupDate = parseDate(meetup['on'])
- var helpers = { partial: partial, gravaturl: gravaturl, parseDate: parseDate, formatDate: formatDate }
.top-unit
  %h1 JS-MONTREAL
  %p Montreal's JavaScript User Group
.row-fluid
  .span6.blurb
    %h1= formatDate(meetupDate, "MMMM Do, YYYY")
    :if meetup["blurb"]
      %p= meetup["blurb"]
    :if !booked(meetup)
      .alert.alert-info
        %a(href="mailto:contact@js-montreal.org")
          Looks like there's space for one more presentation!
  .span6
    :if specialevent(meetup)
      .row-fluid
        .span12
          .special-event
            = include('data/' + meetup.specialevent)
    :if !specialevent(meetup)
      = partial('register')
.row-fluid.meetup.speaker
  = partial('speaker', { speaker: first, helpers: helpers })
:if booked(meetup)
  .row-fluid.meetup.speaker
    = partial('speaker', { speaker: second, helpers: helpers })
.row-fluid
  .span12
    %hr/
    %h3 ConFoo 2014 wants you to be a speaker
    -# %img(alt="ConFoo. February 26 - February 28, 2014 | Montreal, Canada" height="130" src="http://confoo.ca/images/propaganda/2014/en/like.gif" style="border:0" width="180")/
    %p
      %b
        We are looking for web professionals to share their skills and experience at the next ConFoo.
        %a(href="http://confoo.ca/en/call-for-papers" target="_blank")> Submit your proposals
        between August 26th and September 22nd.
    %p
      ConFoo is a conference for developers that has built a reputation as a prime destination for exploring new technologies,
      diving deeper into familiar topics, and experiencing the best of community and culture.
    %ul
      %li ConFoo 2014 will be hosted on February 26-28 in Montreal, at the Hilton Bonaventure Hotel.
      %li We take good care of our speakers by covering most expenses including travel, accommodation, lunch, full conference ticket, etc.
      %li Presentations are 35min + 10min for questions, and may be delivered in English or French.
      %li ConFoo is an open environment where everyone is welcome to submit. We are simply looking for quality proposals by skilled and friendly people.
    %p
      %b
        If you would simply prefer to attend the conference, we have a
        %a(href="http://confoo.ca/en/register" target="_blank")> $230 discount
        until October 16th.
    %hr/
.row-fluid
  .span12
    %h2 Location

    = include('data/cakemail-map.html')
