```
layout: default-nonav
```
- var meetup = getMeetups().shift()
- first  = meetup.speakers[0]
- second = meetup.speakers[1] || meetup.speakers[0]
- noTalksYet = !first && !second
- meetupDate = parseDate(meetup['on'])
- var helpers = { partial: partial, gravaturl: gravaturl, parseDate: parseDate, formatDate: formatDate, specialEvent: !!specialevent }
.top-unit
  .row
    .col-md-6
      %h2
        = formatDate(meetupDate, "MMMM Do, YYYY") + startTime(meetup)
        %br
        %small
          = meetup["title"]
      %p.lead
        = meetup["blurb"]
    .col-md-6
      :if specialevent(meetup)
        .row
          .col-md-12
            .special-event
              = include('data/' + meetup.specialevent)
.row.meetup
  - if(noTalksYet) {
  .col-md-10
    %a.btn.btn-info{ href: "mailto:contact@js-montreal.org" } Submit a talk for the upcoming meetup
  - } else {
  .col-md-5
    .speaker
      = partial('speaker', { speaker: first, helpers: helpers })
  .col-md-5.col-md-offset-1
    .speaker
      - if(booked(meetup)) {
      = partial('speaker', { speaker: second, helpers: helpers })
      - } else {
      - if(meetup.singleSession) {
      - } else {
      %br
      %br
      %a.btn.btn-info{ href: "mailto:contact@js-montreal.org" } Looks like there's space for one more presentation!
      - }
      - }
   - }
%h2
  Location
  %br
  %small
    Across the street from Place-des-Arts Metro
  .map.hidden-sm.hidden-xs
    = partial('map')
.row.visible-xs.visible-sm
  .col-md-12
    %address.well
      Radialpoint
      %br
      %a(href="http://maps.apple.com/?daddr=2050+Bleury,+Montreal+QC")2050 Bleury, Suite 300
      %br
      Montreal, QC
.row.visible-xs.visible-sm
  .small-register.col-md-12
    = partial('register')