```
layout: default-nonav
```
- var meetup = getMeetups().shift()
- first  = meetup.speakers[0]
- second = meetup.speakers[1] || meetup.speakers[0]
- meetupDate = parseDate(meetup['on'])
- var helpers = { partial: partial, gravaturl: gravaturl, parseDate: parseDate, formatDate: formatDate }
.top-unit
  .row
    .col-md-8
      %h2
        = meetup["title"]
        %br
        %small
          = formatDate(meetupDate, "MMMM Do, YYYY") + " @ 19:00"
      %p.lead= meetup["blurb"]
    .col-md-4
      = partial('register')
.row.meetup
  .col-md-5
    .speaker
      = partial('speaker', { speaker: first, helpers: helpers })
  .col-md-5.col-md-offset-1
    .speaker
      - if (booked(meetup)) {
      = partial('speaker', { speaker: second, helpers: helpers })
      - } else {
      %br
      %br
      %a.btn.info{href: 'mailto:contact@js-montreal.org '}
        Looks like there's space for one more presentation!
      - }